<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<style type="text/css">

* {
  padding: 0;
  margin: 0;
}

#thetop a, #thetop a:visited {
  color: white;
  text-decoration: none;
}

#thetop {
  color: white;
  font-family: monospace;
  text-align: right;
  background: black;
  padding: 10px;
}

#thetop h1 {
  padding: 10px;
  text-align: center;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "title"
    "navbar"
    "content"
    "footer";
}

footer {
  background: #333;
  color: #aaa;
  text-align: center;
  padding: 10px;
}

#main {
  margin-top: 10px;
}

#navigation {
  child-area: "navbar";
  padding: 10px;
  background: lightblue;
}

#navigation ul {
  list-style: none outside none;
  text-align: center;
}

#navigation ul li {
  display: inline;
}

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  padding: 5px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.table-fill tbody tr:nth-child(odd) {
  background-color: #eee;
}

.table-fill th {
  color: #D5DDE5;
  background: #1B1E24;
  border-bottom: 4px solid #9EA7AF;
  border-right: 1px solid #343A45;
  font-size: 1.1em;
  font-weight: 100;
  padding: 10px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.table-fill th:first-child {
  border-top-left-radius: 3px;
}

.table-fill th:last-child {
  border-top-right-radius: 3px;
}

.table-fill tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: black;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

.table-fill tr:nth-child(odd) td {
  background: #EBEBEB;
}

.table-fill td {
  background: white;
  padding: 10px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}

.myButton:active {
	position:relative;
	top:1px;
}


</style>
</head>
<body>

<section id="thetop">
  <h1><a id="thelink" href="/">Teste Engenheiro de Dados Cognitivo.AI</a></h1>
  <p><code>—Ian Liu Rodrigues &lt;<a href="mailto:ian.liu88@gmail.com">ian.liu88@gmail.com</a>&gt;</code></p>
  <p>Repository: <a href="https://gitlab.com/fooliu/teste-cognitivo.ai">gitlab.com/fooliu/teste-cognitivo.ai</a></p>
</section>

<nav id="navigation">
  <ul>
    <li><a class="myButton" href="/upload">Upload Data</a></li>
    <li><a class="myButton" href="/">Price Quotes</a></li>
  </ul>
</nav>

<section id="main">
{% block main %}{% endblock %}
</section>

<footer>
  :)
</footer>

</body>
</html>
