{% extends 'base.html' %}

{% block title %}Component Spec{% endblock %}

{% block main %}
<h2>{{ comp.component_id }}</h2>

<h3>Specification</h3>

<ul>
  {% for k, v in comp.items() %}
  <li><strong>{{ k }}</strong>: {{ v }}</li>
  {% endfor %}
</ul>
{% endblock %}
