{% extends 'base.html' %}

{% block title %}Price Quotes List{% endblock %}

{% block main %}

<table class="table-fill">
  <thead>
  <tr>
  <th>Tube</th>
  <th>Supplier</th>
  <th>Date</th>
  <th>Annual Usage</th>
  <th>Min Order</th>
  <th>Bracket</th>
  <th>Quantity</th>
  <th>Price</th>
  </tr>
  </thead>

  <tbody>
  {% for price in prices %}
  <tr>
  <td><a href="/tube-assembly/{{ price.tube_assembly_id }}">{{ price.tube_assembly_id }}</a></td>
  <td>{{ price.supplier }}</td>
  <td>{{ price.quote_date }}</td>
  <td>{{ price.annual_usage }}</td>
  <td>{{ price.min_order_quantity }}</td>
  <td>{{ price.bracket_pricing }}</td>
  <td>{{ price.quantity }}</td>
  <td>{{ "%.02f" % price.cost }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<center>
<div style="margin-top: 5px">
  <a class="myButton" href="{{ prev_page }}">Prev</a>
  <a class="myButton" href="{{ next_page }}">Next</a>
</div>
</center>

{% endblock %}
