{% extends 'base.html' %}

{% block title %}Tube Assembly Spec{% endblock %}

{% block main %}
<h2 style="text-align: center; margin-top: 10px">{{ tube.tube_assembly_id }}</h2>

<table class="table-fill">
  <tr>
  <th>Component</th>
  <th>Quantity</th>
  </tr>
  {% for c in tube.components %}
  <tr>
  <td><a href="/component/{{ c.component_id }}">{{ c.component_id }}</a></td>
  <td>{{ c.quantity }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
