{% extends 'base.html' %}

{% block title %}Upload CSV files{% endblock %}

{% block main %}

{% if success is not defined %}
<form method="POST" action="/upload" enctype="multipart/form-data">
  <center>
    <p><strong>Component CSV</strong></p>
    <p><input type="file" name="components"></p>

    <p><strong>Tube Assembly Composition</strong></p>
    <p><input type="file" name="tubes"></p>

    <p><strong>Price Quotes</strong></p>
    <p><input type="file" name="prices"></p>

    <input type="submit" value="Upload">
  </center>
</form>
{% elif success == True %}
<h3>Upload successfull!</h3>
{% else %}
<h3>Something went wrong :(</h3>
{% endif %}

{% endblock %}
